     * {
          box-sizing: border-box;
      }

      html {
          -webkit-text-size-adjust: none;
      }

      table {
          font-size: 100%;
      }


      body {
          font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
          font-size: 18px;
      }

      body.mobile {
          font-size: 48px;
      }

      p, li {
          line-height: 1.8;
      }

      .article {
          margin: 0 5%;
          padding: 2% 8% 4% 8%;
      }

      .content {
          table-layout: fixed;
          word-wrap: break-word;
          word-break: normal;
          text-align: justify;
          text-justify: inter-ideograph;
      }

      .alert {
          position: relative;
          padding: 0.75rem 1.25rem;
          margin-bottom: 1rem;
          border: 1px solid transparent;
          border-radius: 0.25rem;
          color: #0c5460;
          background-color: #d1ecf1;
          border-color: #bee5eb;
      }


      .title {
          font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
          margin-bottom: 40px;
          border-bottom: 2px LightGrey solid;
          width: 98%;
          line-height: 150%;
          color: #666666;
      }

      a {
          text-decoration: none;
          border-bottom: 1px dashed LightGrey;
          color: #666666;
      }


      a:hover {
          background-color: LightGrey;
      }

      .item {
          margin: 50px 0;
      }

      .page {
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .page > .space {
          padding-left: 30px;
          padding-right: 30px;
      }
